
body{
    font-family: system-ui;
    margin:0;
    display: grid;
    row-gap: 2rem;
}



/* start of nav */
.nav-wrapper{
    border: .5px solid red;
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
}

.nav-wrapper a{
    text-decoration: none;
}

.nav-wrapper .nav-col-grp{
    /* border: .5px dashed green; */
}

.nav-wrapper .nav-col-grp:nth-child(1){
    /* background-color: green; */
    display: flex;
    column-gap: 2rem;
    align-items: center;
    padding: 0 2rem;
}

.nav-wrapper .nav-col-grp:nth-child(2){
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.nav-col-grp .nav-col-sub-grp:nth-child(2){
    display: flex;
    column-gap: 2rem;
    text-transform: capitalize;
    /* color: #2f2f2f; */
}

.nav-col-grp .nav-col-sub-grp:nth-child(2) a{
    color: #2f2f2f;
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.nav-wrapper .nav-col-grp:nth-child(2) a{
    padding: 12px 16px;
}
.nav-wrapper .nav-col-grp:nth-child(2) a:nth-child(2){
    background-color: #292996;
    color: white;
}
/* end of nav */



/* start of main */
main{
    border: .5px solid red;
}
.h6-1{
    padding: rem;
    text-align: center;
}
.h1-1{
    padding:5rem;
    font-weight: bold;
    text-align: center;
}

.plans-grp-wrapper{
    padding: 1rem 2rem;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    border: .5px solid black;
}

.plans-grp{
    border: .5px solid rgb(47, 0, 255);
    display: grid;
    row-gap: 1rem;
    /* place-items: center; */
    padding: 4rem 1rem;
    text-align: center;
}

.plans-grp-wrapper:nth-child(1){
    text-transform: uppercase;
}

.plans-grp-wrapper .plans-grp-child:nth-child(2){
    text-transform: capitalize;
    color: rgb(0, 51, 255);
    font-weight: bold;
    font-size: 18px;
}

.big-59{
        font-size: 3rem;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        /* background-color: aquamarine; */
        padding-top: 2rem;
        display: inline-flex;
}

.plans-grp-child:nth-child(4){
    display: flex;
}

.plans-grp-child-btn{
    border: .5px solid #2f2f2f;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

.popular-plan-btn{
    background-color: rgb(10, 29, 104);
    color: white;
    border: none;
}

.empty-head{
    padding: 1rem;
}

.popular-head{
    background-color: darkblue;
    padding: 0.4rem;
    text-align: center;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* end of main */
.all-plans{
    display:flex;
    border: .5px solid green;
    column-gap: 7rem;
    padding-top: 50px;
}
.paragraph{
    padding: 10rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 16px;
    padding-bottom: 10rem;
}
.png{
    display: flex;
    /* border: .5px solid brown; */
    padding-top: 8rem;
    column-gap: 28rem;
}
.leader{
    display: flex;
    row-gap: 5rem;
    
}
.faq{
    display: flex;
    row-gap: 28rem;
    padding-left: 5rem;
}
.green{
    color: rgb(2, 31, 2);
    border: .5pdx solid red;
    background-color: rgb(2, 22, 2);
}
.green-font{
    color: aliceblue;
    text-align: center;
    padding-top:  5rem;
}
.footer{
    background-color: rgb(1, 1, 58);
    display: flex;
    column-gap: 2rem;
}
.white{
    color: aliceblue;
    row-gap: 2rem;
}
.pink{
    color: rgb(124, 13, 128);
}



    






/* start of footer */
.footer-wrappper{
    border: .5px solid red;
}
/* end of footer */